@use './colors.scss';

.App {
    min-height: 100vh;
    height: 100%;
}

.watermark {
    width: 100%;
    position: fixed;
    bottom: 0;

    a {
        color: rgb(0, 89, 255) !important;
        filter: brightness(200%) blur(0.4px);

        :link {
            color: rgb(0, 89, 255) !important;
            filter: brightness(200%) blur(0.4px);
        }

        :visited {
            color: rgb(0, 89, 255) !important;
            filter: brightness(200%) blur(0.4px);
        }

        :hover {
            color: rgb(0, 89, 255) !important;
            filter: brightness(200%) blur(0.4px);
        }

        :active {
            color: rgb(0, 89, 255) !important;
            filter: brightness(200%) blur(0.4px);
        }
    }
}

.lightApp {
    background-color: colors.$lgtMdBg;
}

.darkApp {
    background-color: colors.$drkMdBg;
}

.light {
    @include colors.lightMode();
}

.dark {
    @include colors.darkMode();
}